*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
}
:root {
  --spotsize: 80px;
}
body {
  position: relative;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  position: relative;
  width: 100vw;
  max-width: 400px;
}
.alert {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.448);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.alert.show {
  display: flex;
}
.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message {
  color: rgb(228, 230, 219);
  padding: 15px 0px;
  font-size: 40px;
  text-shadow: 1px 2px #000;
  margin-bottom: 15px;
}
.alert button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.gamepage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 101, 248);
  height: 100vh;
}
.turn,
#turn {
  position: absolute;
  top: 20px;
  font-size: 30px;

  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  text-align: center;
}
#turn {
  width: max-content;
  top: 100px;
}
#firstplayer {
  opacity: 0.6;
}
#firstplayer.active {
  opacity: 1;
}
#secondplayer {
  opacity: 0.6;
}
#secondplayer.active {
  opacity: 1;
}
.box {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}

.spot {
  position: relative;
  width: var(--spotsize);
  height: var(--spotsize);
  border: solid 2px #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.spot:nth-child(n):not(.spot:nth-child(n + 4)) {
  border-top: none;
}
.spot:nth-child(1),
.spot:nth-child(4),
.spot:nth-child(7) {
  border-left: none;
}
.spot:nth-child(3),
.spot:nth-child(6),
.spot:nth-child(9) {
  border-right: none;
}

.spot:nth-child(n + 7) {
  border-bottom: none;
}

.spot.circle,
.spot.xsign {
  cursor: not-allowed;
}

.spot.circle::after,
.box.circleturn .spot:not(.xsign, .circle):hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: solid 6px #fff;
}
.spot.xsign::after,
.spot.xsign::before,
.box.xturn .spot:not(.xsign, .circle):hover::after,
.box.xturn .spot:not(.xsign, .circle):hover::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 65px;
  background-color: #fff;
}
.spot.xsign::after,
.box.xturn .spot:not(.xsign, .circle):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.spot.xsign::before,
.box.xturn .spot:not(.xsign, .circle):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.box.xturn .spot:not(.xsign, .circle):hover::after,
.box.xturn .spot:not(.xsign, .circle):hover::before {
  opacity: 0.5;
}
.box.circleturn .spot:not(.xsign, .circle):hover::after {
  opacity: 0.5;
}

@media (max-width: 500px) {
  .box.circleturn .spot:not(.xsign, .circle):hover::after,
  .box.xturn .spot:not(.xsign, .circle):hover::after,
  .box.xturn .spot:not(.xsign, .circle):hover::before {
    content: none;
  }
}

#intro {
  position: absolute;
  z-index: 1000;
}

.homepage {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgb(20, 117, 244);
  display: none;
}
.homepage.show {
  display: block;
}
.pscontent {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pscontent h3 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 80px;
}
.pscontent ul li:hover {
  box-shadow: 1px 1px 4px 0px #000;
  cursor: pointer;
}
.pscontent ul li {
  list-style: none;
  padding: 15px 20px;
  background-color: rgb(32, 50, 241);
  margin: 20px 0px;
  color: #fff;
  font-size: 18px;

  font-weight: 600;
}

#back {
  position: absolute;
  width: 100%;
  bottom: 100px;
  left: 0px;
  padding: 13px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back span {
  filter: invert();
  cursor: pointer;
}
